<!DOCTYPE html>
<html lang="tu">
<head>
    <meta charset="UTF-8">
    <title>Домашняя работа СПО</title>
      <style type="text/css">
   h1 { 
    font-size: 200%; 
    font-family: Lobster, Arial, Helvetica, sans-serif; 
    color:white;
    text-align:center;
   }
   h2 { 
    font-size: 150%; 
    font-family: Lobster, Arial, Helvetica, sans-serif; 
    color:white;
    text-align:center;
   }
   body {
    background-color: #CE62D8;
   }
   div
   {
   text-align: middle;
   }
  </style>
</head>
<body>
   <h1>Домашняя работа по предмету системное программное обеспечение</h1>
    <h2>Понькина Дарья, Фт-300007, 2022</h2>
    <div><img src="{{ url_for('static', filename='images/cat_meme.jpg') }}"  width="50%" alt="мем с котом и мышью"></div> 
</body>
</html>
